html > body {
	background-color: #97b1cf;
	font-family: 'Ubuntu Mono', monospace;
}

.post-list {
	color: black;
}

.post-list:hover {
	color: gray;
}

.post-list > h2 {
	font-size: 20px;	
}

.post-list > h3 {
	font-size: 15px;
}

.post-list > p {
	font-size: 12px;
	font-style: italic;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightslategrey;
  color: #c6cfc8;
}

footer p {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}