<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:insert="layouts/navbar"></header>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-2"></div>
    		<div class="col-md-8">
				<th:block th:each="post : ${postList}">
					<div class="post-list">
						<a th:href="@{/post/{id}(id=${post.id})}">
							<h1 th:text="${post.title}"></h1>
							<h2 th:text="${post.subtitle}"></h2>
							<p th:text="${post.created_at}">Posted on </p>
							<p th:text="${post.author.username}"></p>
						</a>
					</div>
				</th:block>
    		</div>
    	</div>
	</div>
	<div th:insert="layouts/footer :: footer"></div>
</body>
</html>
